:root {
  /* Background Colors */
  --color-background-primary: #121212;
  --color-background-secondary: #1e1e1e;
  --color-background-hover: #2a2a2a;
  --color-border-secondary: #333333;
  --color-border-primary: #4d4d4d;
  --color-overlay: #1e1e1ecc;

  /* Typography Colors */
  --color-text-primary: #ffffff;
  --color-text-secondary: #bbbbbb;

  /* Brand Colors */
  --color-brand-primary: #a259ff;
  --color-brand-primary-hover: #7e32cc;

  /* State Colors */
  --color-success: #4caf50;
  --color-warning: #ffca28;
  --color-danger: #f44336;
  --color-danger-hover: #d32f2f;

  /* Shadow */
  --box-shadow: 0px 0px 15px 0px #00000088;

  --header-padding-height: 14px;
  --header-logo-height: 33px;
  --header-border-height: 1px;
  --header-height: calc(
    var(--header-padding-height) + var(--header-padding-height) +
      var(--header-logo-height) + var(--header-border-height)
  );
}
