.icon-button {
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 6px;
  color: var(--color-text-secondary);
  cursor: pointer;
  background-color: inherit;
  border: 0;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.icon-button:hover {
  background-color: var(--color-background-hover);
}
